
body{
		
	
	background-image: src="imgbg.jpg";
	
}


h1
{
	padding-left:20px;
	padding-top:20px;
	padding-bottom:10px;
}

#fname
{
	margin-left: 40px;
}

#lname
{
	margin-left: 40px;
}

#email
{
	margin-left: 55px;
}

#mobile
{
	margin-left: 40px;
}

#password
{
	margin-left: 48px;
}

#birthday
{
	margin-left: 40px;
}

#submitbutton
{
	margin-left: 55px;
}

#regisform
{
	background-color: grey;
	color: white;
	padding-left:440px;
	margin-right: 0px;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 2px;
}


